@import "../globals.scss";
.page {
  height: 100%;
  display: flex;
  // margin: 20px;
  // border-radius: 30px;
  border: white solid 5px;
  box-shadow: rgba(149, 157, 165, 0.342) 0px 8px 24px inset;

  .side-bar {
    flex: 1;
    max-width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: rgba(64, 49, 147, 0.356) 0px 48px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }

  .side-bar-navigation {
    flex: 1;
    width: 100%;

    h1 {
      padding: 20px 30px 20px 30px;

      font-size: 20px;
      font-weight: 900;
      color: $textColor;
      margin-bottom: 10px;
    }

    .side-bar-navigation-items {
      display: flex;
      flex-direction: column;
      overflow: visible;

      .side-bar-navigation-item {
        font-size: 15px;
        padding: 30px;
        font-weight: 300;
        margin-bottom: 10px;
        cursor: pointer;

        color: $secondaryTextColor;
        text-decoration: none;
        height: 100%;
        width: 100%;
        transition: all 0.5s;

        &:hover {
          box-shadow: rgba(99, 99, 157, 0.027) 0px 7px 29px 0px;
        }

        &:active {
          box-shadow: rgba(99, 99, 157, 0.069) 0px 7px 29px 0px;
        }
        &.active {
          color: $textColor;
          font-weight: 900;
          box-shadow: rgba(99, 99, 157, 0.077) 0px 7px 29px 0px;
          border-right: $accentColor 5px solid;
          animation: select 0.2s ease-in-out;
        }
      }
    }
  }
}

.page-contents {
  padding: 20px;
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.749);
  backdrop-filter: blur(5px);
  animation: slideInRight 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideInRight {
  0% {
    margin-right: 100px;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes select {
  0% {
    border-right-width: 0px;
    color: $secondaryTextColor;
    font-weight: 300;
    box-shadow: rgba(99, 99, 157, 0) 0px 7px 29px 0px;
  }
  100% {
    border-right-width: 5px;
    color: $textColor;
    font-weight: 900;
    box-shadow: rgba(99, 99, 157, 0.077) 0px 7px 29px 0px;
  }
}
