@import "../../globals.scss";
.home-page {
  .search-bar {
    width: 100%;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 50;
    @include themify() {
      background-color: themed("accentBgColor");
      color: themed("textColor");
    }

    border-bottom: #e0e0e0 1px solid;

    .search-type-field {
      flex: 0.3;
      @include themify() {
        color: themed("textColor");
      }
    }

    button {
      @include themify() {
        color: themed("textColor") !important;
      }
    }
    input {
      flex: 0.7;
      @include themify() {
        color: themed("textColor") !important;
      }
    }

    select {
      @include themify() {
        color: themed("textColor") !important;
      }
    }

    .MuiSelect-select {
      @include themify() {
        color: themed("textColor") !important;
      }
    }
    .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
      @include themify() {
        color: themed("textColor") !important;
      }
    }
  }
  .home-posts-container {
    // padding-top: 80px;
    height: 87vh;
  }
}
