.home-page {
  .search-bar {
    width: 100%;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 50;
    background-color: rgb(255, 255, 255);

    border-bottom: #e0e0e0 1px solid;

    .search-type-field {
      flex: 0.3;
    }
    .search-input {
      flex: 0.7;
    }
  }
  .home-posts-container {
    // padding-top: 80px;
    height: 87vh;
  }
}
