@import "../../globals.scss";
.post-card {
  @include themify() {
    color: themed("textColor") !important;
    background-color: themed("accentBgColor") !important;
  }
  .post-content {
    @include themify() {
      color: themed("textColor") !important;
    }
  }
}
