@import "../../globals.scss";
.post-actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .action-item {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    @include themify() {
      color: themed("secondaryTextColor");
    }
  }
}
