@import "../../globals.scss";
.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
  overflow: visible;

  .create-post-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  }

  .user-info-container {
    flex: 0.3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;

    min-width: 400px;
    margin: 15px;

    background-color: white;

    box-shadow: 0 0 0 1px rgba(89, 105, 129, 0.03),
      0 3px 20px 0 rgba(89, 105, 129, 0.019), 0 1px 2px 0 rgba(0, 0, 0, 0.14);

    .names-container {
      padding-top: 20px;
      flex: 0.5;

      .user-info-name {
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: 500;
        color: $textColor;
        text-align: center;
      }
      .user-info-username {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        color: $secondaryTextColor;
      }
      .user-info-bio {
        font-size: 15px;
        font-weight: 300;
        text-align: left;
        padding: 20px 0 20px 0;
        color: $textColor;
      }
    }
    .stats-container {
      flex: 0.4;
      border-top: 1px solid whitesmoke;
      padding-top: 20px;
      width: 100%;

      .stat-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;

        .stat-button {
          text-decoration: none;
          text-transform: none;
          margin: 0;
          padding: 0;
        }
        h1 {
          font-size: 17px;
          font-weight: 900;
          color: $textColor;
          text-align: left;
          width: 160px;
        }
        p {
          font-size: 15px;

          color: $textColor;
          text-align: left;
        }
      }
    }

    .actions-container {
      flex: 0.1;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin: 10px;
      }
    }
  }
  .user-posts-container {
    flex: 0.7;
    height: 100vh;
    // padding: 20px;
    overflow: visible;
  }
}
