@import "../../globals.scss";
.profile-page {
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
  position: relative;

  .user-info-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: $secondaryTextColor 1px solid;
    background-color: white;
    // padding: 30px;

    padding-top: 20px;
    // margin-left: 40px;

    .names-container {
      padding-top: 20px;
      display: flex;
      flex-direction: column;

      .user-info-name {
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: 500;
        color: $textColor;
        text-align: center;
      }
      .user-info-username {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        color: $secondaryTextColor;
      }
      .user-info-bio {
        font-size: 15px;
        font-weight: 300;
        text-align: left;
        padding: 20px 0 20px 0;
        color: $textColor;
        max-width: 70vw;
        word-wrap: break-word;
      }
    }
    .stats-container {
      flex: 0.4;
      border-top: 1px solid whitesmoke;
      padding-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;

      .stat-button {
        text-decoration: none;
        text-transform: none;
        margin: 0;
        padding: 0;
      }
      .stat-item {
        display: flex;
        align-items: center;
        justify-content: center;
        .stat-button {
          text-decoration: none;
          text-transform: none;
          color: $textColor;
        }

        h1 {
          font-size: 17px;
          font-weight: 900;
          color: $textColor;
          text-align: left;
          padding-right: 20px;
        }
        p {
          font-size: 15px;

          color: $textColor;
          text-align: left;
        }
      }
    }

    .actions-container {
      flex: 0.1;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin: 10px;
      }
    }
  }
  .user-posts-container {
    flex: 1;
    height: 100%;
    // margin-left: 40px;
    overflow: hidden;
  }
}
