@import "../../globals.scss";
.user-list-view-container {
  height: 100%;
  width: 100%;
  .user-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: $accentColor;

    text-decoration: none;
    text-transform: none;
    width: 100%;
    .user-main-info {
      display: flex;
      flex-direction: row;

      align-items: center;
      .user-item-profile-picture {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.749);
        backdrop-filter: blur(5px);
      }
      .user-item-fullname {
        font-size: 15px;
        font-weight: 500;
        color: $textColor;
        margin-left: 30px;
      }
    }

    .user-item-username {
      font-size: 15px;
      font-weight: 300;
      color: $secondaryTextColor;
    }
  }
}
